<%- include('./common/head') %>
    <%- include('./common/navbar') %>

        <!-- login form  -->
        <div class="d-flex justify-content-center mt-5 mb-5">
            <div class="card " style="width: 500px;">
                <div class="card-header">
                    <h4>Sign Up</h4>
                </div>
                <div class="card-body">
                    <form action="/signup" method="post">
                        <div class="mb-3 mt-3">
                            <label for="username" class="form-label">Username:</label>
                            <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Phone:</label>
                            <input type="number" class="form-control" id="phone" placeholder="Enter Phone" name="phone">
                        </div>
                        <select class="form-select" name="user_type">
                            <option value="">Select</option>
                            <option value="patient">Patients</option>
                            <option value="doctor">For Doctor</option>

                        </select>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter password"
                                name="password">
                        </div>
                        <div class="mb-3">
                            <label for="confirm-pwd" class="form-label">Confirm Password:</label>
                            <input type="password" class="form-control" id="confirm-pwd"
                                placeholder="Enter Confirm password" name="confirm_password">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

            </div>
        </div>


        <%- include('./common/tail') %>
            </body>

            </html>