
body{
    font-size: 14px;
}

/* .nav_color{
    background-color: rgb(15, 58, 97);
    color: white;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: rgb(255, 255, 255);
    font-weight: bold;
} */

/* banner section  */
img{
    max-width: 100%;
    max-height: 100%;
}
.bannar_img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(84 11 11);
    min-height:600px;
    width: auto;
}
.inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.inner h1{
    font-size: 32px;
    padding: 30px 0px;
    color: white;
    text-align: center;
}

.inner h4{
    padding: 30px 0px;
    color: white;
}
 /* most search topics  */
.back{
    background-color: aqua;
    border: 1px solid aqua;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 5px;
}

.bx-prev{
    background-color: black;
    z-index: 10000;
}


/* doctor pofile css  */
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f1eded;
    border-radius: 4px;
}


/* search profile css  */

.forName{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: rgb(99, 96, 96);
    font-weight: bold;
}
.forBody{
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    color: rgb(99, 96, 96);
}


/* mainProfile css  */

.butMain{
    display: block;
    color: black;
    background-color: #f1eded;
    width: 100%;
    border: 1px solid #f1eded;
    border-radius: 10px;
    font-size: 18px;
    text-align: left;
    padding: 10px 15px;
    transition: .8s;
    margin-bottom: 5px;
    font-style: italic;
}
.butMain:hover{
    background-color: #bebdbd;
}

.butMain:active{
    color: green;
}


/* viewPrescriptions.ejs css  */

.types{
    width: 100%;
    border: 1px solid gray;
    font-size: 14px;
    height: 35px;
    border: 1px solid rgb(183, 178, 178);
}


.notes{
    color: gray;
    font-size: 14px;
        
    padding: 0;

}